Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Content/Static/Levels/FirstPersonExampleMap_BuiltData.uasset
Content/Dynamic/Levels/FirstPersonExampleMap_BuiltData.uasset
Content/Static/InfinityBladeGrassLands/
Content/Static/SoulCave/
Content/Static/SoulCity/
Content/Dynamic/Levels/Test.umap
